body {
    background-color: #1F1B24;
}
#container {
    width: 100%;
    height: 90px;
    border: 2px solid black;
    margin-top: 20px;
}

#container-items {
    display: flex;
    justify-content: space-around;
}

#compareBtn {
   justify-self: center;
   align-self: flex-end;
}
#getDataBtn {
    justify-self: center;
    align-self: flex-end;
 }

#character-box {
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    height: 200px;
    object-fit:contain;
}

#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid black;
}

#info-container1{
    border: 2px solid lightgrey;
    height: 500px;
    width: 30%;
    padding: 10px;
    background-color: aliceblue;
}
#info-container2{
    border: 2px solid yellow;
    width: 30%;
    padding: 10px;
    background-color: aliceblue;
}


#wrapperCard {
    display: flex;
    justify-content:center;
    margin-top: 10px;
  }
  
  #card {
    width: 450px;
    height: 940px;
    background-color:grey;
    border-radius: 10px;
  }
  
  #imageDiv {
    width: 100%;
    height:30%;
    background-color:lightgray;
   
  }
  
#images {
     display:flex;
     flex-direction:row;
     height: 100%;
     width: 100%;
     justify-content: space-around;
}
  
  #statsDiv{
    width: 100%;
    height:70%;
    border: 2px solid grey;
    background: white;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 5px;
}

.cardImage {
    height: 100%;
    width: 45%;
    gap:10px;
}

#selections {
    display: flex;
    justify-content: center;
    gap: 30px;
}

#useButtons {
    display: flex;
    justify-content: center;
    gap:20px;
    margin: 10px;
}

.text {
    color: white;
}